:root {
    --main-color: rgba(255, 255, 255, 0.9);
    --blue-color: #00A4ED;
    --orange-color: #FF5D2F;
    --green-color: #00BD6D;
    --content-color: #14181C
}

header {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    height: 100vh;
}

div#logo {
    width: 570px;
    height: 100%;
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    line-height: 42px;
}

h1 {
    text-align: center;
    justify-content: center;
    margin: 0%;
    width: 440px;
    height: 100px;
}

iframe {
    width: 130px;
    height: 130px;
    filter: invert(90%);
    border: none;
    padding-bottom: 42px;
}