/*
  The project has text with heights: 80, 60, 45, 35
  so we has                          h1, h2, h3, p
*/

:root {
  --main-color: rgba(255, 255, 255, 0.9);
  --text-color: rgba(0, 0, 0, 0.8);
  --blue-color: #00A4ED;
  --orange-color: #FF5D2F;
  --green-color: #00BD6D;
  --content-color: #14181C
}

body {
  margin: 0%;
  height: 100vh;
}

div#root {
  height: 100vh;
}

h1 {
  font-size: 80px;
  font-weight: 600;
  font-family: Nunito;
  color: var(--main-color);
  }

h2 {
  font-size: 60px;
  font-weight: 600;
  font-family: Nunito;
  color: var(--main-color);
}

h3 {
  font-size: 45px;
  font-weight: 500;
  font-family: Roboto;
  color: var(--main-color);
}

iframe.logo {
  filter: invert(90%);
  border: none;
}