/*
      The project has text with heights: 80, 60, 45, 35
      so we has                          h1, h2, h3, p
*/

      h1 {
        font-size: 80;
        font-weight: 600;
        font-family: Nunito;
        color: rgba(255, 255, 255, 0.9);
      }

      h2 {
        font-size: 60;
        font-weight: 600;
        font-family: Nunito;
        color: rgba(255, 255, 255, 0.9);
      }