:root {
    --main-color: rgba(255, 255, 255, 0.9);
    --text-color: rgba(0, 0, 0, 0.8);
    --blue-color: #00A4ED;
    --orange-color: #FF5D2F;
    --green-color: #00BD6D;
    --content-color: #14181C
  }

#calendar-page header {
    width: 100vw;
    height: 184px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#calendar-page main {
    width: 100vw;
    height: 80vh;
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#salute {
    position: relative;
    left: 120px;
    display: flex;
}

span#plus-button {
    position: relative;
    right: 120px;
}

iframe#plus {

    height: 124px;
    width: 124px;
    border: none;
}

div#salute h3 {
    padding-left: 56px;
    align-items: center;
    line-height: 30px;
}

div#salute iframe.logo {
    height: 100px;
    width: 100px;
    margin-bottom: 25px;
}

#calendar {
    position: relative;
    width: 1166px;
    height: 706px;
    background-color: var(--content-color);
    border-radius: 10px;
}

header#calendar-header {
    position: relative;
    height: 92px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    box-sizing: content-box;
}

.arrow {
    box-sizing: border-box;
    color: var(--main-color);
    width: 60px;
    height: 90px;
    margin: 0 20px 0 20px;
    cursor: pointer;
}

main#calendar-body {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
    
}

div#weekdays {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 1082px;
    height: 70px;
    justify-content: center;
    text-align: center;
}

div#weekdays h3 {
    width: 100%;
    height: 70px;
    font-family: Nunito;
    font-size: 600;
    color: rgba(255, 255, 255, 0.65);
    margin: 0;
}

div#days {
    display: grid;
    grid-template-columns: 6fr 6fr 6fr 6fr 6fr 6fr 6fr;
    width: 1082px;
    height: 85%;
    justify-content: center;
    text-align: center;
}

button.numberDays {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    padding: none;
    outline: none;
}

div#days button.numberDays h3 {
    width: 70px;
    height: 70px;
    margin: 0;
    font-family: Nunito;
    font-size: 600;
    
}

button.numberDays h3.currentMonth {
    color: var(--main-color);
}

button.numberDays h3.anotherMonth {
    color: rgba(255, 255, 255, 0.5);
    border-radius: 155.5px;
    padding: 8px;

    /* TODAY */
    background-color: var(--blue-color);

    /* REMINDER */
    

    /* EVENT */
    box-shadow: 0.2px 0.2px 0px 5px var(--orange-color);
}