:root {
    --main-color: rgba(255, 255, 255, 0.9);
    --text-color: rgba(0, 0, 0, 0.8);
    --blue-color: #00A4ED;
    --orange-color: #FF5D2F;
    --green-color: #00BD6D;
    --content-color: #14181C
  }

#calendar-page header {
    width: 100vw;
    height: 184px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#calendar-page main {
    width: 100vw;
    height: 80vh;
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#salute {
    position: relative;
    left: 120px;
    display: flex;
}

span#plus-button {
    position: relative;
    right: 120px;
}

iframe#plus {

    height: 124px;
    width: 124px;
    border: none;
}

div#salute h3 {
    padding-left: 56px;
    align-items: center;
    line-height: 30px;
}

div#salute iframe.logo {
    height: 100px;
    width: 100px;
    margin-bottom: 25px;
}

#calendar {
    position: relative;
    width: 1166px;
    height: 706px;
    background-color: var(--content-color);
    border-radius: 10px;
}

header#calendar-header {
    position: relative;
    height: 92px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    box-sizing: content-box;
}

.arrow {
    box-sizing: border-box;
    color: var(--main-color);
    width: 60px;
    height: 90px;
    margin: 0 20px 0 20px;
}