header {
    width: 100vw;
    height: 184px;
    display: flex;
    align-items: flex-end;
}

iframe#plus {
    height: 124px;
    width: 124px;
    border: none;
}

h3 {
    padding-left: 56px;
}

.logo {
    height: 100px;
    width: 100px;
    margin-bottom: 25px;
}